* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#container-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#inquireButton {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#inquireButton:hover {
    background-color: rgb(239, 239, 239);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h4 {
    font-weight: bold;
}

.text-center {
    cursor: pointer;
}
