/* style.css */

/* Hero Section */
.hero-section {
    background: url('ps5.jpeg') no-repeat center center;
    background-size: cover; /* Ensure the background covers the full section */
    height: 100vh; /* Full height of the viewport */
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Text shadow for better visibility */
}

/* Features Section */
.features {
    background-color: #f8f9fa;
    padding: 60px 0;
}

/* Footer Section */
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
}
